*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
}
.section1{
   /* background: url(../images/background3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  padding-top: 23%;
  background-position: center;  */
    
  
   
  

} 
.sec1{
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  padding-bottom: 5%;
  background-position: center;
  
}
h1{
  text-align: center;
  font-family: 'Sofia', cursive;
}
span{
  color: rgb(192, 19, 19);
}
#btn{
  width: 120px;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
  align-items: center;
  margin-left: 550px;
  color: rgb(192, 19, 19);
  background-color: rgb(7, 0, 0);
  border: none;
  border-radius: 15px 15px 15px 0px;
}
#secondh1{
  text-align: center;
}
#p1{
  padding-top: 40px;
  padding-right: 20px;
  color: white;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  width: 1000px;
  margin-left: 7%;
   margin-right: 15%;
  background-color: brown;

}

.menu{
  text-align: center;
  font-size: 3em;
  font-style: italic;
  padding-top: 40px;
}
.ordersection{
  
}

.pizzas{
  margin-left: 70px;
}
.button.order{
  width: 120px;
  height: 50px;
  border-radius: 15px 15px 15px 0px;
  align-items: center;
  margin-left: 550px;
  color: rgb(192, 19, 19);
  background-color: rgb(7, 0, 0);
  border: none;
  margin-right: 47%;
  
}
.button.add-pizza{
  width: 120px;
  height: 50px;
  border-radius: 15px 15px 15px 0px;
  align-items: center;
  margin-left: 550px;
  color: rgb(192, 19, 19);
  background-color: rgb(7, 0, 0);
  border: none;
  
}
.button.submit{
   width: 120px;
  height: 50px;
  border-radius: 15px 15px 15px 0px;
  align-items: center;
  margin-left: 550px;
  color: rgb(192, 19, 19);
  background-color: rgb(7, 0, 0);
  border: none;
  
}
.button.yes{
    width: 120px;
  height: 50px;
  border-radius: 15px 15px 15px 0px;
  align-items: center;
  margin-left: 550px;
  color: rgb(192, 19, 19);
  background-color: rgb(7, 0, 0);
  border: none;
  
}
.button.no{
    width: 120px;
  height: 50px;
  border-radius: 15px 15px 15px 0px;
  align-items: center;
  margin-left: 550px;
  color: rgb(192, 19, 19);
  background-color: rgb(7, 0, 0);
  border: none;
}
  .button.check-out{
  width: 120px;
  height: 50px;
  border-radius: 15px 15px 15px 0px;
  align-items: center;
  margin-left: 550px;
  color: rgb(192, 19, 19);
  background-color: rgb(7, 0, 0);
  border: none;
  }
  .contact{
      background-color: rgb(224, 217, 217);
      padding-top: 40px;
      

  }
  .contact h1{
  
    text-align: center;
    
  }
  .icons{
    display: flex;
 margin-left: 40%;
    text-align: center;
  }
  .copyright{
    text-align: center;
    background-color: rgb(224, 217, 217);
  }
